<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="ServiceBusDemo.DemoManager">
        <endpoint binding="netTcpBinding" contract="ServiceBusDemo.IDemoService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8888/DemoManager"/>
            <add baseAddress="http://localhost:9988/DemoManager" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>