<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="ServiceBusDemo.DemoManager">
        <!--<endpoint address="sb://datafeeds.servicebus.windows.net/AnalyticsSalesManager" binding="netTcpRelayBinding" contract="DataFeeds.Business.Contracts.ISalesService"/>-->
        <endpoint binding="netTcpBinding" contract="ServiceBusDemo.IDemoService" />
        <!--<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8888/DemoManager"/>
            <add baseAddress="http://localhost:9988/DemoManager" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>